# /etc/dphys-swapfile - user settings for dphys-swapfile package
# author Neil Franklin, last modification 2006.09.15
# copyright ETH Zuerich Physics Departement
#   use under either modified/non-advertising BSD or GPL license

# this file is sourced with . so full normal sh syntax applies

# where we want the swapfile to be, this is the default
#CONF_SWAPFILE=/var/swap

# size we want to force it to be, default (empty) gives 2*RAM
#CONF_SWAPSIZE=
