Source: dphys-swapfile
Section: admin
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Uploaders: Elmar S. Heeb <elmar@heebs.ch>
Build-Depends: bash-completion,
               debhelper (>= 9~)
Homepage: http://neil.franklin.ch/Projects/dphys-swapfile/
Standards-Version: 3.9.7
Vcs-Git: git://github.com/isgphys/dphys-swapfile.git
Vcs-Browser: https://github.com/isgphys/dphys-swapfile

Package: dphys-swapfile
Architecture: all
Depends: dc,
         ${misc:Depends}
Description: Autogenerate and use a swap file
 This init.d script exists so one does not need to have a fixed size
 swap partition. Instead install without swap partition and then run this,
 with file size (re-)computed automatically to fit the current RAM size.
 .
 By default (and hence on installation) it creates swapfile twice as
 big as the present RAM amount with an upper limit of 2 GB.
