Source: dphys-swapfile
Section: admin
Priority: optional
Maintainer: Axel Beckert <abe@debian.org>
Uploaders: Elmar S. Heeb <elmar@heebs.ch>
Build-Depends: debhelper (>= 7), bash-completion
Homepage: http://neil.franklin.ch/Projects/dphys-swapfile/
Standards-Version: 3.9.4
Vcs-Git: git://github.com/isgphys/dphys-swapfile.git
Vcs-Browser: https://github.com/isgphys/dphys-swapfile

Package: dphys-swapfile
Architecture: all
Depends: ${misc:Depends}, dc
Description: Autogenerate and use a swap file
 This init.d script exists so one does not need to have a fixed size
 swap partition. Instead install without swap partition and then run this,
 with file size (re-)computed automatically to fit the current RAM size.
