#!/usr/bin/make -f
# dphys-swapfile/debian/rules - drive debian packaging for package
# author/generator dphys2 makesrcpackage script,
#   last modification/generation 2004.05.28
# derived from Debian New Maintainers Guide example by Joey Hess
#   dropping unused functions, and coding instead of deleting dh_* stuff calls
# This rules file is copyright ETH Zuerich Physics Departement,
#   use under either BSD or GPL license

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

# copied, in case something used these
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  INSTALL_PROGRAM += -s
endif

build: build-stamp

build-stamp:
	@/usr/bin/dh_testdir
	@# compiling can be done as non-root, no test here

	@# run upstream Makefile
	@$(MAKE)
	@# mark this after compiling
	@/bin/touch build-stamp

clean:
	@/usr/bin/dh_testdir
	@/usr/bin/dh_testroot

	@# clean up install run and build, I prefer this before clean upstream
	@/usr/bin/dh_clean

	@# unmark "compile done" flag before "uncompiling"
	@/bin/rm -f build-stamp

	@# run upstream Makefile
	@$(MAKE) clean

install: build
	@/usr/bin/dh_testdir
	@/usr/bin/dh_testroot

	@# clean up debris from previous install runs, leave Debian files
	@/usr/bin/dh_clean -k

	@# create our debian/<packagename> directory
	@/usr/bin/dh_installdirs

	@# run upstream Makefile
	@$(MAKE) install DESTDIR=$(CURDIR)/debian/dphys-swapfile

binary-arch: build install
	@# We have nothing to do here, packages assumed to be arch independant

binary-indep: build install
	@/usr/bin/dh_testdir
	@/usr/bin/dh_testroot

	@# no dh_installdebconf

	@# where all the documentation (debian and upstream) gets installed
	@#   installs debian/copyright, debian/README, debian/TODO
	@# also generates the /usr/doc -> /usr/share/doc symlinks (un)makers
	@/usr/bin/dh_installdocs

	@# no dh_installexamples or dh_installmenu
	@# no dh_installlogrotate or dh_installemacsen
	@# no dh_installpam or dh_installmime

	@# set up init script links, possibly user specified run level
	@#   for this use an line in init script such as:  #@rc.d@ start 37 S .
	@#   installs debian/<package>.init and debian/<package>.default
	@# and yes, Debian kills the links only long after the script is gone
	@#   gives temp "dangling link", is broken, but they want it this way
	@if [ -f debian/dphys-swapfile.init ] ; then \
	  PARAMS="defaults" ; \
	  LINE=`grep '^#@rc.d@ ' debian/dphys-swapfile.init` ; \
	  if [ x`echo $${LINE} | cut -f 1 -d " "` != x ] ; then \
	    PARAMS=`echo $${LINE} | cut -f 2- -d " "` ; \
	  fi ; \
	  dh_installinit -- $${PARAMS} ; \
	fi

	@if [ -f `ls -1 debian/dphys-swapfile.cron.* 2> /dev/null | \
	    head -1` ] ; then \
	  dh_installcron ; \
	fi

	@# no dh_installman or dh_installinfo or dh_undocumented
	@#   if man or info pages wanted, use Makefile install as for program

	@# install changelogs, upstream+debian or just native debian
	@if [ -f changelog ] ; then \
	  dh_installchangelogs changelog ; \
	elif [ -f CHANGES ] ; then \
	  dh_installchangelogs CHANGES ; \
	else \
	  dh_installchangelogs ; \
	fi

	@# dh_link or dh_strip

	@dh_compress
	@dh_fixperms

	@# no dh_makeshlibs

	@# this does all debian/pre* and post*, and also generates conffiles
	@dh_installdeb

	@# no dh_perl or dh_shlibdeps

	@dh_gencontrol
	@dh_md5sums
	@dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
